<body style="background-color:white;">
  <div class="container">
    <div class="row">

        <section class="w-100 mt-5">
          <div class="text-center mt-3 mb-3">

            <div class="text-center" style="margin-left:20%; margin-right:20%;font-weight: bold;">
              <h1 style="font-weight:bold;"> Reverse job board for experienced developers </span> </h1>
            </div>

            <br>

            <div class="text-center" style="margin-left:25%; margin-right:25%;">
              <p> Remote, ready-to-hire talent from Africa. Discover the right profiles for your job now. </p>
            </div>

            <br>

            <% if  user_signed_in? %>
              <%= link_to 'Go to dashboard', dashboard_path, class: "home-button-1" %>
            <% else %>
              <%= link_to 'Get started', new_user_registration_path, class: "home-button-1" %>
            <% end %>

          </div>
        </section>

    </div>
  </div>

</body>
