<%= current_user.talent_profile.skills %>
<%= current_user.talent_profile.experience_years %>

<% if current_user.education.present? %>
  <% current_user.education.each do |education| %>
    <%= education.uni_name %>
  <% end %>
<% else %>
  <p>Complete your education details</p>
<% end %>


